.app-wrapper-footer {
    display: grid;
    width: 100vw;
    height: 75px;
    grid-template-columns: 4fr 8fr 7fr 2fr 2fr 2fr;
    align-content: center;
    align-items: center;
    // background-color: transparent;
    font-family: 'Racing Sans One', cursive;
    font-size: 20px;
    align-self: end;

    .advertising_left {
        justify-self: center;
        text-decoration: underline;
    }
    .advertising_left a {
        color: whitesmoke;
        text-decoration: underline;
    }
    
    .fun_times {
        padding-left: 70px;
        text-decoration: underline;
    }
        .fun_times a {
             color: whitesmoke;
             text-decoration: underline;
    }

    .dc_logo img {
        height: 50px;
        width: 95px;
        margin-left: 5px;
    }

    .privacy_right {
        // justify-self: center;
        color: whitesmoke;
        text-decoration: underline;
    }
        .privacy_right a {
            color: whitesmoke;
            text-decoration: underline;
        }
    
    .terms_right {
        // justify-self: center;
        text-decoration: underline; 
    }
        .terms_right a {
            color: whitesmoke;
            text-decoration: underline; 
        } 

    .comics_right {
        // justify-self: center;
        text-decoration: underline;
    }
        .comics_right a {
            color: whitesmoke;
            text-decoration: underline;
    }
}

.app-wrapper-footer a:hover {
    text-decoration: none;
    color: whitesmoke;
    
}
.advertising_left a :hover {
    text-decoration: none;
    
}

.dc_logo {
    
}