// // .app-wrapper-footer a {
// //     display: grid;
// //     justify-content: space-around;
// //     padding-left: 10px;
// //     color: lightseagreen;
// //     font-size: 18px;
// //     border: 2px solid lightblue;
// //     border-width: 1.5px;
// //     background-color: black;
// }

.app-wrapper-footer {
    display: grid;
    width: 100vw;
    height: 75px;
    grid-template-columns: 4fr 8fr 7fr 2fr 2fr 2fr;
    align-content: center;
    align-items: center;
    // background-color: transparent;
    font-family: 'Racing Sans One', cursive;
    font-size: 20px;
    align-self: end;

    .advertising_left {
        justify-self: center;
    }
    
    .fun_times {
        padding-left: 70px;
    }

    .dc_logo img {
        height: 50px;
        width: 95px;
        margin-left: 35px;
    }

    .privacy_right {
        justify-self: center;
    }
        .privacy_right a {
            color: white;
        }
    
    .terms_right {
        justify-self: center; 
    }
        .terms_right a {
            color: white; 
        } 

    .comics_right {
        justify-self: center;
    }
        .comics_right a {
            color: white;
    }
}

.app-wrapper-footer a:hover {
    text-decoration: none;
    color: powderblue;
}
.advertising_left a :hover {
    text-decoration: none;
    text-decoration-line: none;
}