.app-wrapper-footer {
  display: grid;
  width: 100vw;
  height: 10vh;
  grid-template-columns: 4fr 7fr 7fr 2fr 2fr 2fr;
  align-content: center;
  align-items: center;
  // background-color: transparent;
  font-family: "Racing Sans One", cursive;
  font-size: 20px;
  align-self: end;
  min-height: 10vh;
  min-width: 100vw;
  bottom: 0;
  position: absolute;

  .advertising_left {
    justify-self: center;
    text-decoration: underline;
  }
  .advertising_left a {
    color: whitesmoke;
    text-decoration: underline;
  }

  .fun_times a {
    color: whitesmoke;
    text-decoration: underline;
  }

  .dc_logo img {
    justify-self: center;
    height: 8vh;
    width: 10vw;
    min-height: 100px;
    min-width: 100px;
  }

  .privacy_right {
    // justify-self: center;
    color: whitesmoke;
    text-decoration: underline;
  }
  .privacy_right a {
    color: whitesmoke;
    text-decoration: underline;
  }

  .terms_right {
    // justify-self: center;
    text-decoration: underline;
  }
  .terms_right a {
    color: whitesmoke;
    text-decoration: underline;
  }

  .comics_right {
    // justify-self: center;
    text-decoration: underline;
  }
  .comics_right a {
    color: whitesmoke;
    text-decoration: underline;
  }
}

.app-wrapper-footer a:hover {
  text-decoration: none;
  color: whitesmoke;
}
.advertising_left a :hover {
  text-decoration: none;
}

.dc_logo {
}
